a{text-decoration:none;}
h2 {padding:5px;    color: #00bcd4;}
pre {font-size:14px;font-family: "Courier 10 Pitch", Courier, monospace;white-space: pre;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;display: block;color: #555555;background: #f4f4f4;box-shadow: 0px 2px 2px #ccc, 0px -1px 1px #ccc;padding: 1em;} 
pre .comentariu{font-weight:normal;color:#9e9e9e}
ul{list-style-type: none;padding: 0;}
li {border-bottom: 1px solid #ccc;padding:5px;}
li:hover{background: #f6f6f6;}
.article {padding-left: 50px;}
.comentariu {margin:0;padding:0px;color: #4CAF50;font-weight:bold;}

.i {color:#e91e63!important;font-weight:bold;}	
.r {color:#009688!important;font-weight:bold;}	

.ui-widget{font-family:initial!important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #00bcd7!important;
    background: #00bcd7!important;
    font-weight: normal;
    color: #ffffff;
}
.other{border:1px solid #ccc;background:#efefef;}

#menu{position:absolute;top:0;right:0;z-index:2000;background:#fff;}
#menu li{display:inline;margin-right:5px;border:none;padding:10px;}
#menu li.active{background:#00bcd4;}
#menu li a{color:#000;font-weight:bold}
#menu li.active a{color:#fff;}

#menu ul:first-child{border-bottom:1px solid #00bcd4;padding:9px;    margin-bottom: 10px;}
#menu ul:nth-of-type(2){margin-top:0;}

#content{margin-top:40px}
.paulund_block_page{    z-index: 10000!important}